---
http_interactions:
- request:
    method: get
    uri: https://poetrydb.org/author,poemcount/Emily;10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "title": "Not at Home to Callers",
            "author": "Emily Dickinson",
            "lines": [
              "Not at Home to Callers",
              "Says the Naked Tree --",
              "Bonnet due in April --",
              "Wishing you Good Day --"
            ],
            "linecount": "4"
          },
          {
            "title": "Defrauded I a Butterfly --",
            "author": "Emily Dickinson",
            "lines": [
              "Defrauded I a Butterfly --",
              "The lawful Heir -- for Thee --"
            ],
            "linecount": "2"
          },
          {
            "title": "The words the happy say",
            "author": "Emily Dickinson",
            "lines": [
              "The words the happy say",
              "Are paltry melody",
       [...]
- request:
    method: get
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/v3/tone?text=Not%20at%20Home%20to%20Callers%20Says%20the%20Naked%20Tree%20--%20Bonnet%20due%20in%20April%20--%20Wishing%20you%20Good%20Day%20--&version=2017-09-21
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpa2V5OlZQRFNZaGdxZGpFYmw4Q0hvaGkyTU1HLVZSU1BfcDdpSFlrOUNabGpwOFZT
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Service-Api-Version:
      - null; 2017-09-21
      X-Service-Build-Number:
      - '2020-12-07T06:02:02'
      Content-Type:
      - application/json
      Content-Language:
      - en-US
      X-Dp-Watson-Tran-Id:
      - a7ecc4de-e1b4-4639-b133-8b447a26b6c2
      X-Global-Transaction-Id:
      - a7ecc4de-e1b4-4639-b133-8b447a26b6c2
      X-Edgeconnect-Midmile-Rtt:
      - '46'
      X-Edgeconnect-Origin-Mex-Latency:
      - '237'
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.730959,"tone_id":"joy","tone_name":"Joy"}]}}'
  recorded_at: Fri, 08 Jan 2021 17:49:53 GMT
- request:
    method: get
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/v3/tone?text=Defrauded%20I%20a%20Butterfly%20--%20The%20lawful%20Heir%20--%20for%20Thee%20--&version=2017-09-21
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpa2V5OlZQRFNZaGdxZGpFYmw4Q0hvaGkyTU1HLVZSU1BfcDdpSFlrOUNabGpwOFZT
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Service-Api-Version:
      - null; 2017-09-21
      X-Service-Build-Number:
      - '2020-12-07T06:02:02'
      Content-Type:
      - application/json
      Content-Language:
      - en-US
      X-Dp-Watson-Tran-Id:
      - 0affc55e-17bf-443c-8584-c9eef60d12d1
      X-Global-Transaction-Id:
      - 0affc55e-17bf-443c-8584-c9eef60d12d1
      X-Edgeconnect-Midmile-Rtt:
      - '49'
      X-Edgeconnect-Origin-Mex-Latency:
      - '186'
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.50436,"tone_id":"joy","tone_name":"Joy"}]}}'
  recorded_at: Fri, 08 Jan 2021 17:49:53 GMT
- request:
    method: get
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/v3/tone?text=The%20words%20the%20happy%20say%20Are%20paltry%20melody%20But%20those%20the%20silent%20feel%20Are%20beautiful%20--&version=2017-09-21
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpa2V5OlZQRFNZaGdxZGpFYmw4Q0hvaGkyTU1HLVZSU1BfcDdpSFlrOUNabGpwOFZT
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Service-Api-Version:
      - null; 2017-09-21
      X-Service-Build-Number:
      - '2020-12-07T06:02:02'
      Content-Type:
      - application/json
      Content-Language:
      - en-US
      X-Dp-Watson-Tran-Id:
      - f571abe9-49d4-4477-ba51-8eee72c1304e
      X-Global-Transaction-Id:
      - f571abe9-49d4-4477-ba51-8eee72c1304e
      X-Edgeconnect-Midmile-Rtt:
      - '44'
      X-Edgeconnect-Origin-Mex-Latency:
      - '227'
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.822597,"tone_id":"joy","tone_name":"Joy"}]}}'
  recorded_at: Fri, 08 Jan 2021 17:49:53 GMT
- request:
    method: get
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/v3/tone?text=Death!%20that%20struck%20when%20I%20was%20most%20confiding%20In%20my%20certain%20faith%20of%20joy%20to%20be%20-%20Strike%20again,%20Time%27s%20withered%20branch%20dividing%20From%20the%20fresh%20root%20of%20Eternity!%20%20Leaves,%20upon%20Time%27s%20branch,%20were%20growing%20brightly,%20Full%20of%20sap,%20and%20full%20of%20silver%20dew%3B%20Birds%20beneath%20its%20shelter%20gathered%20nightl[...]
- request:
    method: get
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/v3/tone?text=The%20winter%20wind%20is%20loud%20and%20wild,%20Come%20close%20to%20me,%20my%20darling%20child%3B%20Forsake%20thy%20books,%20and%20mateless%20play%3B%20And,%20while%20the%20night%20is%20gathering%20grey,%20We%27ll%20talk%20its%20pensive%20hours%20away%3B--%20%20%27Ierne,%20round%20our%20sheltered%20hall%20November%27s%20gusts%20unheeded%20call%3B%20Not%20one%20faint%20breath%20can%20enter%20h[...]
- request:
    method: get
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/v3/tone?text=The%20night%20is%20darkening%20round%20me,%20The%20wild%20winds%20coldly%20blow%20%3B%20But%20a%20tyrant%20spell%20has%20bound%20me,%20And%20I%20cannot,%20cannot%20go.%20%20The%20giant%20trees%20are%20bending%20Their%20bare%20boughs%20weighed%20with%20snow%20%3B%20The%20storm%20is%20fast%20descending,%20And%20yet%20I%20cannot%20go.%20%20Clouds%20beyond%20clouds%20above%20me,%20Wastes%20beyond%20wastes%20below%20%3B%20But%20nothing%20drear%20can%20move%20me%20:%20I%20will%20not,%20cannot%20go.&version=2017-09-21
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpa2V5OlZQRFNZaGdxZGpFYmw4Q0hvaGkyTU1HLVZSU1BfcDdpSFlrOUNabGpwOFZT
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Service-Api-Version:
      - null; 2017-09-21
      X-Service-Build-Number:
      - '2020-12-07T06:02:02'
      Content-Type:
      - application/json
      Content-Language:
      - en-US
      X-Dp-Watson-Tran-Id:
      - e29c00c2-e875-4d53-b64b-7f4f4e3cd7e7
      X-Global-Transaction-Id:
      - e29c00c2-e875-4d53-b64b-7f4f4e3cd7e7
      X-Edgeconnect-Midmile-Rtt:
      - '49'
      X-Edgeconnect-Origin-Mex-Latency:
      - '267'
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.596122,"tone_id":"analytical","tone_name":"Analytical"}]},"sentences_tone":[{"sentence_id":0,"text":"The
        night is darkening round me, The wild winds coldly blow ; But a tyrant spell
        has bound me, And I cannot, cannot go.","tones":[]},{"sentence_id":1,"text":"The
        giant trees are bending Their bare boughs weighed with snow ; The storm is
        fast descending, And yet I cannot go.","tones":[{"score":0.687768,"tone_id":"analytical","tone_name":"Analytical"}]},{"sentence_id":2,"text":"Clouds
        beyond clouds above me, Wastes beyond wastes below ; But nothing drear can
        move me : I will not, cannot go.","tones":[]}]}'
  recorded_at: Fri, 08 Jan 2021 17:49:55 GMT
[...]
- request:
    method: get
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/v3/tone?text=On%20a%20sunny%20brae,%20alone%20I%20lay%20One%20summer%20afternoon%3B%20It%20was%20the%20marriage-time%20of%20May%20With%20her%20young%20lover,%20June.%20%20From%20her%20mother%27s%20heart,%20seemed%20loath%20to%20part%20That%20queen%20of%20bridal%20charms,%20But%20her%20father%20smiled%20on%20the%20fairest%20child%20He%20ever%20held%20in%20his%20arms.%20%20The%20trees%20did%20wave%20their%2[...]
- request:
    method: get
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/v3/tone?text=Hope%20was%20but%20a%20timid%20friend%3B%20She%20sat%20without%20the%20grated%20den,%20Watching%20how%20my%20fate%20would%20tend,%20Even%20as%20selfish-hearted%20men.%20%20She%20was%20cruel%20in%20her%20fear%3B%20Through%20the%20bars,%20one%20dreary%20day,%20I%20looked%20out%20to%20see%20her%20there,%20And%20she%20turned%20her%20face%20away!%20%20Like%20a%20false%20guard,%20false%20watch%20ke[...]
- request:
    method: get
    uri: https://api.us-south.tone-analyzer.watson.cloud.ibm.com/v3/tone?text=%27Tis%20moonlight,%20summer%20moonlight,%20All%20soft%20and%20still%20and%20fair%3B%20The%20solemn%20hour%20of%20midnight%20Breathes%20sweet%20thoughts%20everywhere,%20%20But%20most%20where%20trees%20are%20sending%20Their%20breezy%20boughs%20on%20high,%20Or%20stooping%20low%20are%20lending%20A%20shelter%20from%20the%20sky.%20%20And%20there%20in%20those%20wild%20bowers%20A%20lovely%20form%20i[...]
